body {
    background-color: #dff9f9;
    font-family: Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    max-width: 100%;
    max-height: 5%;
    padding-top: 1%;
    margin-top: -0.7%;
    @media (max-width: 768px) {
        margin-top: -2%;
    }
    text-align: center;
    border-top: solid 4px black;
    border-image: linear-gradient(to right, #dff9f9 5%, #33baad 50%, #33baad 50%, #dff9f9 95%) 100;
}

#list-div {
    background: linear-gradient(to right, #dff9f9 5%, #76f2e6 50%, #76f2e6 50%, #dff9f9 95%);
    padding: 0px 10px 10px 10px;
    height: 100%;
}

.recipe-list {
    justify-content: space-evenly;
    display: flex;
    box-sizing: border-box;
    margin: auto; /* center it */
    height: 70%;
    max-width: 100%;
    padding: 10%, 0px, 0px, 0px;
}

.recipe-list div {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    width: 25%;
    height: 100%;
}

.recipe-list a {
    display: inline-block;
    height: 10%;
    text-decoration: none;
    color: black;
    font-weight: 550;
    opacity: 75%;
    font-size: 3vh;
}

.recipe-list img {
    height: auto;
    max-width: 90%;
    opacity: 0.9;
}

/*      Was useful before
:hover.recipe-list li {
    background-color:  rgb(17, 225, 225);
    text-decoration: none;
}
    */




